<!DOCTYPE html>
<!-- Microdata markup added by Google Structured Data Markup Helper. -->
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><html lang="en" class="no-js"> <![endif]-->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }} - ChupacabraKingdom_Blog</title>
    <base href="/" />

    <link rel="stylesheet" href="/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="/dist/site.css" asp-append-version="true" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700%7CCourgette' rel='stylesheet' type='text/css'>
    <link href="/Content/css/style.css" media="screen" rel="stylesheet">
    <link href="/Content/css/screen.css" media="screen" rel="stylesheet">

</head>
<body>
    <div class="body_wrap">
        <div class="github-fork-ribbon-wrapper right">
            <div class="github-fork-ribbon">
                <a href="https://github.com/NancyFx/Nancy.Blog">Fork me on GitHub</a>
            </div>
        </div>

        <div class="logo">
            <img alt="nancy logo" src="/Content/images/logo.png" />
        </div>

        <div class="header">
            <div class="header_inner">
                <nav id="topmenu" class="clearfix">
                    <ul class="dropdown">
                        <li class="menu-item-blue">
                            <a href='/'>
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="menu-item-pink">
                            <a href='/About'>
                                <span>About</span>
                            </a>
                        </li>
                    </ul>

                    <select id="topm-select">
                        <option value="">Site Navigation</option>
                        <option value="/">Home</option>
                        <option value="/about">About</option>
                    </select>
                </nav>

            </div>
        </div>
        <div id="middle" class="full_width">
            <div class="container clearfix">
                <div class="">
                    {{ content }}
                </div>
            </div>
        </div>
        <div class="footer_social">
            <div class="footer_social_inner">
                <div class="container">
                    <a href="http://twitter.com/NancyFx" class="social-twitter">Twitter</a>
                    <a href="https://github.com/NancyFx" class="social-github">Github</a>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="container">
                <p class="copyright">Powered by the community</p>
            </div>
        </div>

    </div>
    

    <script src="/dist/vendor.js"></script>
</body>
</html>
